<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <style>
        .blog-toggle {
            display: none;
        }

        .blog-toggle.active {
            display: flex;
        }

        .navbar-center {
            flex: 1;
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: baseline;
        }
    </style>

</head>

<body>
    <div id="header">
        <nav class="navbar" style="position: relative;">
            <div class="navbar-left">
                <a href="/">MyBlog</a>
            </div>

            <div class="navbar-center">
                <form onsubmit="event.preventDefault(); filterBlogs()">
                    <input class="form-control me-2" type="search" placeholder="search blogs here" name="search"
                        oninput="searchBlogs()" />

                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <div class="dropdown">

                    <i class="fa-solid fa-filter dropdown-toggle " type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#" data-value="All">All</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Education">Education</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Politics">Politics</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Self-Development">Self-Development</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Creative Writing">Creative Writing</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Lifestyle">Lifestyle</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Career & Growth">Career & Growth</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Travel">Travel</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Technology">Technology</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Finance">Finance</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Mental Health">Mental Health</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Environment">Environment</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Science">Science</a></li>
                        <li><a class="dropdown-item" href="#" data-value="History">History</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Art & Culture">Art & Culture</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Current Affairs">Current Affairs</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Book Reviews">Book Reviews</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Movie & TV Reviews">Movie & TV Reviews</a>
                        </li>
                        <li><a class="dropdown-item" href="#" data-value="Parenting">Parenting</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Relationships">Relationships</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Food & Recipes">Food & Recipes</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Health & Fitness">Health & Fitness</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Personal Experiences">Personal Experiences</a>
                        </li>
                        <li><a class="dropdown-item" href="#" data-value="Productivity">Productivity</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Coding & Development">Coding & Development</a>
                        </li>
                        <li><a class="dropdown-item" href="#" data-value="Startups & Entrepreneurship">Startups &
                                Entrepreneurship</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Social Justice">Social Justice</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Digital Marketing">Digital Marketing</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Spirituality">Spirituality</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Gaming">Gaming</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Space & Galaxy">Space & Galaxy</a></li>
                        <li><a class="dropdown-item" href="#" data-value="Other">Other</a></li>

                    </ul>
                </div>
            </div>


            <div class="navbar-right ">


                <div>

                    <a onclick="showActiveClass('allBlogs')" class="register-link mainPage">ALL BLOGS</a>
                    <a onclick="showActiveClass('myBlogs')" class="register-link mainPage">MY BLOG</a>
                    <a href="/blog/addBlog" class="register-link mainPage">ADD BLOG</a>
                    <% if (user) { %>
                        <a href="/logout" class="register-link text-danger mainPage">LOGOUT</a>
                        <% } %>

                            <i id="bars" class="fa-solid fa-bars" onClick="showSidebar()"></i>
                </div>


            </div>


        </nav>
        <div class="buttons" style="display: none;">
            <i class="fa-solid fa-xmark" onClick="closeSidebar()"></i>
            <form class="d-flex" onsubmit="event.preventDefault(); filterBlogs()">
                <input class="form-control me-2" type="search" placeholder="search blogs here" name="search"
                    oninput="searchBlogs()" />

                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <a onclick="showActiveClass('allBlogs')" class="coll-links">ALL BLOGS</a>
            <a onclick="showActiveClass('myBlogs')" class="coll-links">MY BLOG</a>
            <a href="/blog/addBlog" class="coll-links">ADD BLOG</a>
            <% if (user) { %>
                <a href="/logout" class="coll-links text-danger">LOGOUT</a>
                <% } %>



        </div>




        <div id="allBlogs" class='Container d-flex active mt-3 d-flex flex-wrap ' style="height:100%; width:100%">
            <% allblogs.forEach(blog=>{%>
                <div class="card m-2" data-theme="<%=blog.theme%>" style="width: 18rem; height: 22rem">

                    <img src="<%= blog.coverImage %>" class="card-img-top " alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=blog.title%>
                        </h5>

                        <a href="/blog/<%=blog._id%>" class="btn btn-primary">VIEW</a>
                    </div>
                </div>


                <%} )%>



        </div>

        <div id="myBlogs" class="Container d-none mt-3 d-flex flex-wrap  justify-content-start"
            style="height:100%; width:100%">
            <% myblogs.forEach(blog=> { %>
                <div class="card m-2" data-theme="<%= blog.theme %>" style="width: 18rem; height: 22rem">
                    <img src="<%= blog.coverImage %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= blog.title %>
                        </h5>
                        <div class="d-flex gap-2">
                            <a href="/blog/<%= blog._id %>" class="btn btn-primary flex-fill">VIEW</a>
                            <% if (typeof myblogs !=='undefined' ) { %>
                                <a href="/blog/<%= blog._id %>/edit" class="btn btn-success flex-fill">EDIT</a>
                                <form action="/blog/<%= blog._id %>?_method=DELETE" method="POST" class="flex-fill"
                                    style="margin:0;">
                                    <button type="submit" class="btn btn-danger w-100">DELETE</button>
                                </form>
                                <% } %>
                        </div>
                    </div>
                </div>


                <% }) %>
        </div>

        <script>
            function showActiveClass(id) {
                document.querySelectorAll('.Container').forEach(section => {

                    if (section.classList.contains('d-flex')) {
                        section.classList.remove('d-flex');
                        section.classList.add('d-none');

                    }

                })
                document.getElementById(id).classList.remove("d-none");
                document.getElementById(id).classList.add("d-flex");
            }
        </script>
    </div>


    <script>
        function searchBlogs() {
            const searchTerm = document.querySelector('input[name="search"]').value.toLowerCase();

            const allSection = document.getElementById('allBlogs');
            const mySection = document.getElementById('myBlogs');

            const visibleSection = allSection.classList.contains('d-flex') ? allSection : mySection;
            const cards = visibleSection.querySelectorAll('.card');

            cards.forEach(card => {
                const title = card.querySelector('.card-title').textContent.toLowerCase();
                if (title.includes(searchTerm)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        }
    </script>

    <script>

        const items = document.querySelectorAll('.dropdown-item');
        items.forEach((item) => {
            item.addEventListener('click', (e) => {
                e.preventDefault();
                const selectedVal = item.getAttribute('data-value');

                const allSection = document.getElementById('allBlogs');
                const mySection = document.getElementById('myBlogs');

                const visibleSection = allSection.classList.contains('d-flex') ? allSection : mySection;
                const cards = visibleSection.querySelectorAll('.card');

                cards.forEach(card => {
                    const theme = card.getAttribute('data-theme');
                    if (selectedVal === 'All' || selectedVal === theme) {
                        card.style.display = 'block';
                    } else {
                        card.style.display = 'none';
                    }
                });





            })
        })

    </script>
    <script>
        function showSidebar() {
            const sidebar = document.querySelector('.buttons');
            sidebar.style.display = 'flex';

        }

        function closeSidebar() {
            const sidebar = document.querySelector('.buttons');
            sidebar.style.display = 'none';

        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>